header{
    background-color: rgb(50, 41, 171);
    padding: 20px;
    text-align: center;
}


h2{
    color: yellowgreen;
    padding: 10px;
    text-align: center;
}

p{
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: cyan;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

ul{
    padding: 10px;
    text-align: center;
}

li{
    list-style-type:disc;
    padding:5px;
    text-align: center;
    color: darkcyan;
    font-weight: bold;
}