body {
  font-family: Arial;
}

.green{
  color: green;
  text-decoration: wavy underline black;
}

.underline {
  text-decoration: underline purple wavy;
}

#mainImg {
  width: 35%;
}


.box {
  border: 0.25px solid black;
  width: 200px;
  padding: 1rem;
}

.yellow_bg{
  background-color: yellow;
}


.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}
